---
layout: default
---

<header class="homepage-section homepage-header text-center">
  <h1 class="page-title page-title--homepage">Nick Nish</h1>
  <h2 class="page-subtitle page-subtitle--homepage">Creative Developer</h2>
</header>

<section class="homepage-section">
  <div class="homepage-hero-container">
    <img class="homepage-hero-image" src="{% asset_path peaceful.png %}" />
  </div>
</section>

<section class="homepage-section homepage-about">
  <h2 class="section-header"><a href="{{ site.navigation.about }}">Hey there! 👋</a></h2>
  <p>I'm Nick, a passion developer with a deep love for creating great products and the craft of telling important stories. Because my love for frontend, I consider myself a frontend developer first, but I’m wonderfully full-stack &mdash; JavaScript, React/Redux, Ruby, Rails, are all fair game.</p>
  <p>Conversations of product, design, and brand building get me excited.</p>
  <p>I meditate, learn everyday without fail, and strive to carry joy in everything I do.</p>
</section>

<hr>

<section class="homepage-section homepage-works">
  <h2 class="section-header"><a href="{{ site.navigation.work }}">Work</a></h2>

  <div class="work-items">
    <div class="work-item">
      <div class="work-image-container">
        <div class="work-image-header">
          <div class="work-image-dots">
            <div class="work-image-dot"></div>
            <div class="work-image-dot"></div>
            <div class="work-image-dot"></div>
          </div>
          <div class="work-image-bar"></div>
        </div>
        <img class="work-image" src="{% asset_path bonsai.png %}" alt="Bonsai homepage" />
      </div>
      <div class="work-description">
        <h3 class="work-title">Bonsai</h3>
        <p><em>June 2016-Present</em></p>
        <p>Building on React-Redux on Rails for the freelance management platform.</p>
      </div>
    </div>

    <div class="work-item">
      <div class="work-image-container">
        <div class="work-image-header">
          <div class="work-image-dots">
            <div class="work-image-dot"></div>
            <div class="work-image-dot"></div>
            <div class="work-image-dot"></div>
          </div>
          <div class="work-image-bar"></div>
        </div>
        <img class="work-image" src="{% asset_path bloomnation-mini.png %}" alt="BloomNation homepage" />
      </div>
      <div class="work-description">
        <h3 class="work-title">BloomNation</h3>
        <p><em>November 2014-December 2015</em></p>
        <p>Building with PHP, advanced CSS, and JavaScript for the florist web platform.</p>
      </div>
    </div>
  </div>

  <div class="text-center">
    <a href="{{ site.navigation.work }}" class="btn btn-success">See More Work</a>
  </div>
</section>

<hr>

<section class="homepage-section homepage-labs">
  <h2 class="section-header"><a href="{{ site.navigation.labs }}">Labs</a></h2>
  <p class="text-center mbl">Experiments conducted here. Expect shenanigans.</p>
  <div class="text-center">
    <a href="{{ site.navigation.labs }}" class="btn btn-success">Back to the Lab!</a>
  </div>
</section>

<hr>

<footer class="homepage-section homepage-contact text-center">
  <h2 class="section-header">Contact</h2>

  <nav role="social">
    <div class="mbl">
      <p>Just say hi!</p>
      <a class="homepage-contact-link homepage-contact-link--main" href="mailto:{{ site.social.email }}">
        {{ site.social.email }}
      </a>
    </div>

    <div class="mbl">
      <p>You can find me on</p>

      {% if site.social.github %}
        <div class="mbxs">
          <a class="homepage-contact-link" href="{{ site.social.github }}">github.com/nicknish</a>
        </div>
      {% endif %}

      {% if site.social.codepen %}
        <div class="mbxs">
          <a class="homepage-contact-link" href="{{ site.social.codepen }}">codepen.io/nicknish</a>
        </div>
      {% endif %}

      {% if site.social.linkedin %}
        <div class="mbxs">
          <a class="homepage-contact-link" href="{{ site.social.linkedin }}">linkedin.com/in/nicknish</a>
        </div>
      {% endif %}
    </div>

    <div>
      <p>Also</p>
      <a class="homepage-contact-link" href="{{ site.navigation.resume }}">My Resume</a>
    </div>
  </nav>
</footer>

<!-- <div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
 -->
