.homepage-section {
  margin-bottom: 45px;

  .section-header {
    text-align: center;
  }
}

.homepage-header {
  padding-top: 20px;
}

.page-title--homepage {
  margin: 0 0 15px;
  line-height: 1;
  text-transform: uppercase;
  color: $orange;
  @include media-breakpoint-up(sm) {
    font-size: 56px;
  }
}

.page-subtitle--homepage {
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 1px;
  @include media-breakpoint-up(sm) {
    font-size: 28px;
  }
}

.homepage-hero-container {
  padding: 0 40px;
  text-align: center;
}

.work-items {}

.work-item {
  margin-bottom: 35px;
  text-align: center;
  &:last-child {
    margin-bottom: 45px;
  }
  @include media-breakpoint-up(sm) {
    display: flex;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
  @include media-breakpoint-up(lg) {
    &:nth-child(even) {
      .work-image-container {
        margin-right: -60px;
      }
    }
    &:nth-child(odd) {
      .work-image-container {
        margin-left: -60px;
      }
    }
  }
}

.work-image-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background: #fafafa;
  @include media-breakpoint-up(sm) {
    flex: auto;
  }
}

.work-image {
  display: block;
  margin: 0 auto;
}

.work-image-dot {
  width: 5px;
  height: 5px;
  background: orange;
  float: left;
  margin-right: 5px;
  border-radius: 50%;
  &:first-child {
    background: #EE4230;
  }
  &:nth-child(2) {
    background: #FEA812;
  }
  &:last-child {
    background: #75E12B;
  }
}

.work-image-header {
  position: relative;
  height: 25px;
  background: #FAFAFA;
  padding: 8px;
}

.work-image-dots {
  position: absolute;
  left: 13px;
  height: 5px;
  top: 10px;
}

.work-image-container {
  border-radius: 4px;
}

.work-image-bar {
  border-radius: 10px;
  height: 10px;
  width: 50%;
  background: #E6EBEF;
  margin: 0 auto;
}

.work-image-container {
  margin-bottom: 20px;
  border-radius: 4px;
}

.work-description {
  @include media-breakpoint-up(sm) {
    flex: auto;
    padding: 0 20px;
    max-width: 50%;
    text-align: left;
  }
}

.work-title {
  margin: 0 0 20px;
  font-size: 24px;
}

.homepage-contact-link--main {
  font-size: 24px;
}

.homepage-contact-link {
  font-family: $headerFonts;
  font-weight: 600;
  letter-spacing: 1px;
}
