/**************/
/* BASE RULES */
/**************/

@import url('https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro');

html {
  font-size: 100%;
  *, *:after, *:before {
    box-sizing: border-box;
  }
}

body {
  position: relative;
  background: $white;
  font-family: $baseFonts;
  font-size: 18px;
  line-height: 1.7;
  color: $grey-4;
  &.noscroll {
    overflow: hidden;
  }
  .fonts-loaded & {
    font-family: $paragraphFonts;
  }
}

a {
  color: $success;
  cursor: pointer;
  transition: color 200ms ease;
  &:hover, &:active {
    color: $success-dark;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

hr {
  max-width: 120px;
  margin: 0 auto 45px;
  border: 0;
  border-bottom: 1px solid $grey-d;
}


// Specify the color of the selection
::-moz-selection {
}
::selection {
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
}
