// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.text-center {
  text-align: center;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.underline {
  text-decoration: underline;
}
