h1, h2, h3, h4, h5, h6 {
  font-family: $baseFonts;
  color: $success;
  font-weight: bold;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  .fonts-loaded & {
    font-family: $headerFonts;
  }
}

h1 {
  font-size: 40px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  @include media-breakpoint-up(xl) {
    font-size: 20px;
  }
}
