
// Font stacks

$baseFonts: -apple-system, BlinkMacSystemFont, sans-serif;
$baseCodeFonts: 'Courier', monospace;
$codeFonts: 'Bitstream Vera Sans Mono','Courier', monospace;
$headerFonts: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$paragraphFonts: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


// Colors

$white: #fff;

$grey-4: #444;
$grey-6: #666;
$grey-8: #8F8E8B;
$grey-9: #979797;
$grey-d: #d8d8d8;
$grey-e: #E6EBEF;
$grey-f: #f7f7f7;

$orange: #FDA469;
$yellow: #F4CF8D;

$success: $yellow;



// Breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @media (min-width: $min) {
    @content;
  }
}
