<nav class="site-nav" role="navigation">
  <a class="site-nav-item site-nav-item--logo" href="{{ site.navigation.home }}">NN</a>
  <div class="menu" data-menu aria-hidden="true">
    <i class="menu-wink">😉</i>
    <div class="menu-nav">
      <ul class="menu-nav-ul">
        <li class="menu-nav-li"><a class="menu-link" href="{{ site.navigation.about }}">About</a></li>
        <li class="menu-nav-li"><a class="menu-link" href="{{ site.navigation.work }}">Work</a></li>
        <li class="menu-nav-li"><a class="menu-link" href="{{ site.navigation.labs }}">Labs</a></li>
        <li class="menu-nav-li"><a class="menu-link" href="{{ site.navigation.now }}">Now</a></li>
        <li class="menu-nav-li"><a class="menu-link" href="{{ site.navigation.blog }}">Blog</a></li>
        <li class="menu-nav-li"><a class="menu-link" href="{{ site.navigation.resume }}">Resume</a></li>
      </ul>
    </div>
    <div class="menu-social">
      <div class="menu-social-ul">
        {% include header-social-items.html %}
      </div>
    </div>
  </div>
  <div class="site-nav-item site-nav-item--actions">
    <button class="menu-icon-container" data-menu-btn>
      <div class="menu-icon">
        <div class="menu-icon-bar"></div>
      </div>
    </button>
  </div>
</nav>
