<!-- <div class="wrapper-masthead">
  <div class="container">
    <header class="masthead clearfix">
      <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

      <div class="site-info">
        <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
        <p class="site-description">{{ site.description }}</p>
      </div>

      <nav>
        <a href="{{ site.baseurl }}/">Blog</a>
        <a href="{{ site.baseurl }}/about">About</a>
      </nav>
    </header>
  </div>
</div>
 -->

<nav class="site-nav" role="navigation">
  <a class="site-nav-item site-nav-item--logo" href="{{ site.navigation.home }}">NN</a>
  <div class="menu" data-menu aria-hidden="true">
    <i class="menu-wink">😉</i>
    <div class="menu-nav">
      <ul class="menu-nav-ul">
        <li class="menu-nav-li"><a class="menu-link" href="{{ site.navigation.about }}">About</a></li>
        <li class="menu-nav-li"><a class="menu-link" href="{{ site.navigation.work }}">Work</a></li>
        <li class="menu-nav-li"><a class="menu-link" href="{{ site.navigation.labs }}">Labs</a></li>
        <li class="menu-nav-li"><a class="menu-link" href="{{ site.navigation.resume }}">Resume</a></li>
        <li class="menu-nav-li"><a class="menu-link" href="{{ site.navigation.now }}">Now</a></li>
      </ul>
    </div>
    <div class="menu-social">
      <ul class="menu-social-ul">
        {% include header-social-items.html %}
      </ul>
    </div>
  </div>
  <div class="site-nav-item site-nav-item--actions">
    <button class="menu-icon-container" data-menu-btn>
      <div class="menu-icon">
        <div class="menu-icon-bar"></div>
      </div>
    </button>
  </div>
</nav>
