{% if site.social.dribbble %}
  <li class="menu-social-li">
    <a class="menu-link" href="https://dribbble.com/{{ site.social.dribbble }}">
      <i class="fa fa-dribbble"></i>
    </a>
  </li>
{% endif %}

{% if site.social.email %}
  <li class="menu-social-li">
    <a class="menu-link" href="mailto:{{ site.social.email }}">
      <i class="fa fa-envelope"></i>
    </a>
  </li>
{% endif %}

{% if site.social.facebook %}
  <li class="menu-social-li">
    <a class="menu-link" href="https://www.facebook.com/{{ site.social.facebook }}">
      <i class="fa fa-facebook"></i>
    </a>
  </li>
{% endif %}

{% if site.social.flickr %}
  <li class="menu-social-li">
    <a class="menu-link" href="https://www.flickr.com/{{ site.social.flickr }}">
      <i class="fa fa-flickr"></i>
    </a>
  </li>
{% endif %}

{% if site.social.github %}
  <li class="menu-social-li">
    <a class="menu-link" href="https://github.com/{{ site.social.github }}">
      <i class="fa fa-github-alt"></i>
    </a>
  </li>
{% endif %}

{% if site.social.instagram %}
  <li class="menu-social-li">
    <a class="menu-link" href="https://instagram.com/{{ site.social.instagram }}">
      <i class="fa fa-instagram"></i>
    </a>
  </li>
{% endif %}

{% if site.social.codepen %}
  <li class="menu-social-li">
    <a class="menu-link" href="https://www.codepen.io/nicknish">
      <i class="fa fa-codepen"></i>
    </a>
  </li>
{% endif %}

{% if site.social.linkedin %}
  <li class="menu-social-li">
    <a class="menu-link" href="https://www.linkedin.com/in/{{ site.social.linkedin }}">
      <i class="fa fa-linkedin"></i>
    </a>
  </li>
{% endif %}

{% if site.social.pinterest %}
  <li class="menu-social-li">
    <a class="menu-link" href="https://www.pinterest.com/{{ site.social.pinterest }}">
      <i class="fa fa-pinterest"></i>
    </a>
  </li>
{% endif %}

{% if site.social.rss %}
  <li class="menu-social-li">
    <a class="menu-link" href="{{ site.baseurl }}/feed.xml">
      <i class="fa fa-rss"></i>
    </a>
  </li>
{% endif %}

{% if site.social.twitter %}
  <li class="menu-social-li">
    <a class="menu-link" href="https://www.twitter.com/{{ site.social.twitter }}">
      <i class="fa fa-twitter"></i>
    </a>
  </li>
{% endif %}

{% if site.social.stackoverflow %}
  <li class="menu-social-li">
    <a class="menu-link" href="{{ site.social.stackoverflow }}">
      <i class="fa fa-stack-overflow"></i>
    </a>
  </li>
{% endif %}

{% if site.social.youtube %}
  <li class="menu-social-li">
    <a class="menu-link" href="https://youtube.com/{{ site.social.youtube }}">
      <i class="fa fa-youtube"></i>
    </a>
  </li>
{% endif %}

{% if site.social.googleplus %}
  <li class="menu-social-li">
    <a class="menu-link" href="https://plus.google.com/{{ site.social.googleplus }}">
      <i class="fa fa-googleplus"></i>
    </a>
  </li>
{% endif %}
